<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.shopterrace.mapper.ShowlistMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.love.shopterrace.entity.Showlist">
		<id column="id" property="id" />
		<result column="namelist" property="namelist" />
		<result column="photo" property="photo" />
		<result column="size" property="size" />
		<result column="url" property="url" />
	</resultMap>

</mapper>
